<div class="container" style="background-color: white;">
<h1>Waiting to add a new list...</h1>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name, class: "form-control" %>
    <div class="form-group">
    <%= f.input :photo, as: :file %>
  </div>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
